* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
}


/* styling for div containing radio distinction for user type between diner and operator */ 
.userTypeForm {
  display: flex;
  flex-direction: column;
}
.userTypeForm label {
  margin: .5rem;
}
